
body { 
	background-color: #f6f6f6;
}

@media (max-width: 991px) {

	body {
		background-color: var(--verydarkgrey);
	}

}

/* classes */

.mt-12px { margin-top: 12px !important; }

/* the-end-of-classes */



/* buttons */

.facebook-btn {
	background-color: var(--darkblue);
	color: white;
	padding: 1rem;
	border-radius: 2rem;
	width: calc(100% - (2rem + 4vw));
	text-align: center;
	margin: calc(1rem + 1vw) calc(1rem + 2vw);
}

.facebook-btn i {
	margin-right: 5px;
}

.grey-btn {
	background-color: transparent;
	color: white;
	border-radius: 2rem;
	width: 100%;
	border: 1px solid var(--verydarkgrey);
	text-align: center;
	padding: 1rem 0.7rem;
	font-weight: bold;
	font-size: 12px;
}


/* the-end-of-buttons */



/* checkboxes */

.green-checkbox {
	font-size: 15px;
}

.green-checkbox .form-label-name {
	vertical-align: middle;
	transition: color .3s;
	color: var(--black);
}

.green-checkbox:hover .form-label-name {
	color: var(--blue);
}

.green-checkbox .fl-checkmark {
	width: 19px;
	height: 19px;
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid #dbdbdb;
	transition: background-color .3s;
}

.green-checkbox:hover .fl-checkmark {
	background-color: var(--verylightgrey) !important;
}

.green-checkbox input:checked ~ .fl-checkmark {
    background-color: var(--green) !important;
    border-color: var(--green); 
}

.green-checkbox .fl-checkmark:after {
	left: 5px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 0;
	background-color: transparent;
}

/* the-end-of-checkboxes */



/* sidebar */

.body-container {
	position: relative;
	margin: 0 !important;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.sidebar {
	background-color: var(--lightgrey);
	width: 260px;
	min-height: 2300px;
}

.sidebar .sidebar-form {
	margin-top: 110px;
}

/*---list---*/
.sidebar .fl-list {
	padding: 0;
	background-color: transparent;
	transition: background-color;
}

.sidebar .fl-list-dropdown {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.sidebar .fl-list-dropdown.fl-show {
	padding-bottom: 1.5rem;
	max-height: 2000px;
}

.sidebar .fl-list-item {
	padding: 0 1.3rem !important;
	margin-top: 0 !important;
}

.sidebar .fl-list-item:hover {
	background-color:  var(--verylightgrey);
}

.sidebar .fl-list-dropdown-toggler {
	background-color: transparent !important;
	color: var(--black) !important;
	border-radius: 0;
	padding: 8px 0;
	text-align: left;
	font-size: 15px;
}

.sidebar .fl-list-dropdown-toggler::after {
	content: none;
}	

.sidebar .fl-list-dropdown-toggler i {
	position: static !important;
	margin-right: 1rem;
	background-color: #dbdbdb;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 5px;
	color: var(--black);
	font-size: 10px;
	vertical-align: middle;
}

.sidebar .fl-list-dropdown-toggler .fa-minus {
	display: none;
}

.sidebar .fl-list-dropdown-toggler .fa-plus {
	display: inline-block;
}

.sidebar .fl-list-dropdown-toggler.fl-active .fa-minus {
	display: inline-block;
}

.sidebar .fl-list-dropdown-toggler.fl-active .fa-plus {
	display: none;
}

/*---radio---*/
.sidebar .fl-form-radio-container {
	font-size: 15px;
}

.sidebar .form-label-name {
	vertical-align: middle;
	transition: color .3s;
}

.sidebar .fl-form-radio-container:hover .form-label-name {
	color: var(--blue);
}

.sidebar .fl-form-radio-checkmark {
	width: 19px;
	height: 19px;
	background-color: transparent;
	border: 2px solid #dbdbdb;
	transition: background-color .3s;
}

.sidebar .fl-form-radio-container:hover .fl-form-radio-checkmark {
	background-color: var(--verylightgrey);
}

.sidebar .fl-form-radio-container input:checked ~ .fl-form-radio-checkmark {
    background-color: var(--green);
    border-color: var(--green); 
}

.fl-form-radio-container .fl-form-radio-checkmark:after {
	left: 5px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 0;
	background-color: transparent;
}

.list-dropdown-hidden-item {
	display: none;
}

.list-dropdown-hidden-item.fl-show {
	display: initial;
}

.form-see-more-btn {
	color: var(--blue);
	background: none;
	font-weight: bold;
	margin-left: calc(18px + 1rem);
	padding: 0;
	cursor: pointer;
	font-size: 16px;
}	

/* the-end-of-sidebar */