
footer {
	margin-top: 0 !important;
	padding-bottom: 2rem !important;
	position: relative;
}

.fl-footer-list {
	margin-left: 0 !important;
}

.footer-head-list .fl-footer-link {
	font-weight: bold;
	color: white;
}

.footer-button-list {
	margin-top: 2rem;
	text-align: center;
}

.footer-btn {
	height: 50px;
	width: 50px;
	color: white;
	line-height: 50px;
	text-align: center;
	border: 1px solid var(--darkgrey);
	transition: background-color .3s;
	border-radius: 50%;
	background-color: transparent;
}

.footer-btn:first-child {
	margin-right: 1rem;
}

@media (hover: hover) {

	.footer-btn:hover {
		background-color: var(--darkgrey);
	}

}

.footer-btn:active {
	background-color: var(--darkgrey);
}

@media (min-width: 992px) {

	.footer-button-list {
		margin-top: 0;
		position: absolute;
		top: 0;
		right: 3rem;
		height: 100%;
		display: flex;
		align-content: center;
		align-items: center;
	}

}
