
/* loading-ani */

@keyframes rotateCircles {

	from {

		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);

	}

	to {

		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);

	}

} 

@keyframes firstCircle {

	from {

		right: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes secondCircle {

	from {

		left: 1px;
		bottom: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		bottom: 5px;
		opacity: .9;

	}

}

@keyframes thirdCircle {

	from {

		right: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		right: 5px;
		top: 5px;
		opacity: .9;

	}

}

@keyframes fourthCircle {

	from {

		left: 1px;
		top: 1px;
		opacity: .4;

	}

	to {

		left: 5px;
		top: 5px;
		opacity: .9;

	}

}

.fl-loading-ani {
	background-color: var(--darkgrey);
}	

.loading-ani-con {
	font-size: 0;
	animation-name: rotateCircles;
  	animation-duration: 1.2s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
  	width: 30px;
  	margin-top: 2rem;
}

.loading-ani-circle {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: var(--yellow);
	border-radius: 50%;
	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-duration: 1.2s;
  	animation-direction: alternate;
  	animation-delay: 0s;
}

.loading-ani-circle:first-child {
	animation-name: firstCircle;
}

.loading-ani-circle:nth-child(2) {
	animation-name: secondCircle;
}

.loading-ani-circle:nth-child(3) {
	animation-name: thirdCircle;
}

.loading-ani-circle:last-child {
	animation-name: fourthCircle;
}

/* the-end-of-loading-ani */



/* navbar */

.fl-navbar {
	padding: 0 1rem !important;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 0 !important;
}

@media (max-width: 991px) {

	.fl-navbar {
		background-color: var(--darkgrey);
	}

	.navbar-brand-2 {
		width: 50px !important;
	}

}

@media only screen and (min-width: 992px) {

	.fl-navbar {
		padding: 0 4rem !important;
	}	

}

/* the-end-of-navbar */



/* navbar-nav */

.fl-navbar-nav {
	margin-left: 1rem;
}

.fl-nav-item {
	margin-left: 0 !important;
}

.fl-nav-link {
	height: 80px;
	line-height: 80px;
	padding: 0 1.2rem;
	position: relative;
}

.fl-nav-link::before {
	content: ' ';
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: var(--yellow);
	transition: top .3s;
}

.fl-nav-link:hover::before,
.fl-nav-link.fl-active::before {
	top: 0;
}

/* the-end-of-navbar-nav */	



/* navbar-search */

.fl-navbar-search-reset:disabled {
	visibility: hidden;
}

.fl-navbar-search-reset {
	color: white !important;
	font-size: 18px;
	visibility: visible;
}

.submit-icon {
	position: absolute;
	top: 0;
	z-index: 10;
	right: 0;
	height: 100%;
	color: white;
	font-size: 18px;
	display: -ms-flexbox;
	-ms-flex-wrap: nowrap;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.fl-navbar-search-reset:disabled ~ .submit-icon {
	visibility: visible;
}

.fl-navbar-results-of-search {
	overflow: visible;
	max-height: initial;
}

.fl-navbar-results-of-search::before {
	content: "";
	position: absolute;
	width: 0; 
	height: 0;
	top: -0.4rem;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: 1.7rem;
	z-index: 5; 
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-bottom: 0.4rem solid var(--blackWIthOpacity);
}

.fl-navbar-results-of-search::-webkit-scrollbar {
  width: 5px;
  border-radius: 0;
}

.fl-navbar-results-of-search::-webkit-scrollbar-track {
  box-shadow: none; 
}

.fl-navbar-results-of-search::-webkit-scrollbar-thumb {
  background: var(--yellow); 
}

.fl-navbar-results-of-search::-webkit-scrollbar-thumb:hover {
  background: var(--yellow); 
}

.navbar-results-of-search-img-container {
	width: 10vw;
	height: 15vw;
	overflow: hidden;
}

.navbar-results-of-search-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.navbar-results-of-search-text {
	margin-left: calc(1rem + 0.5vw);
}

.navbar-results-of-search-title {
	color: white;
	font-size: 18px;
	margin: 0;
}

.navbar-results-of-search-info {
	color: var(--grey);
	margin: 0;
}

.navbar-results-of-search-arrow {
	margin-left: auto;
	color: var(--black);
	transition: color .3s;
}

.fl-navbar-results-of-search-link {
	border-bottom: 1px solid var(--black); 
}

@media only screen and (hover: hover) {

	.fl-navbar-results-of-search-link:hover .navbar-results-of-search-arrow {
   	 	color: #c1c1c2;
	}
}	

.fl-navbar-results-of-search-link:active .navbar-results-of-search-arrow {
	color: #c1c1c2;
}

@media (min-width: 992px) {

	.fl-navbar-search-parent {
		width: 310px;
	}

	.fl-navbar-search-parent.fl-show {
		margin: 0 0 0 2.2rem !important;
	}

	.fl-navbar-results-of-search {
		width: 155%;
		max-height: 600px;
	}

	.navbar-results-of-search-img-container {
		width: 3vw;
		height: 4.5vw;
	}

}

/* the-end-of-navbar-search */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
	font-size: 0;
	width: 100%;
	margin-bottom: 0.5rem;
}

.fl-navbar-links-item {
	margin-left: 0 !important;
	font-size: 16px;
}

.fl-navbar-links-item.fl-lg-hide {
	width: 31%;
	margin-right: 3.5%;
	margin-left: 0 !important;
}

.fl-navbar-links-item:last-child {
	margin-right: 0 !important;
}

@media (min-width: 992px) {

	.fl-navbar-links-link {
		height: 80px;
		line-height: 80px;
		padding: 0 1.2rem;
	}

	.fl-navbar-links {
		width: auto;
		margin-bottom: 0;
	}	

}	

/* the-end-of-navbar-links */



/* user-modal-container */

.user-modal-con {
	background-color: var(--whiteWithOpacity);
}

.user-modal-con .fl-modal-child {
	background-color: #292a2a;
	padding: 0;
	width: 100%;
	min-height: 100%;
	margin: 0;
}

.user-modal-con .fl-form { 
	padding: calc(1rem + 2vw);
	border-bottom: 2px solid var(--black);
	padding-bottom: calc(1rem + 1vw);
}

.user-modal-con-head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
	flex-flow: row wrap;
	height: 25px;
	margin-top: 3rem;
}

.user-modal-con-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

.user-modal-con .fl-form-title {
	margin: 0;
	color: white;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	line-height: 25px;
}	

.user-modal-con .fl-form-link {
	color: #0082f1 !important;
	font-weight: bold;
}			

.user-modal-con .fl-form-input {
	background-color: var(--black);
	border-radius: 0;
	color: white;
	font-size: 16px;
	padding: 1rem;
}	

.user-modal-con .fl-form-input[type=password] {
	padding-right: 105px !important;
}

.fl-form-input::-webkit-input-placeholder {
  	color: var(--grey);
}

.fl-form-input::-moz-placeholder {
  	color: var(--grey);
}

.fl-form-input::-ms-input-placeholder {
  	color: var(--grey);
}

.fl-form-input::placeholder {
  	color: var(--grey);
}

.user-modal-con .user-modal-con-forgot {
	position: absolute;
	top: 0;
	right: 1rem;
	display: flex;
	align-items: center;
	align-content: center;
	height: 100%;
}

.user-modal-con .fl-form-btn {
	width: auto;
	text-align: center;
	padding: 10px 1.2rem;
	border: 3.5px solid var(--yellow);
	border-radius: 2rem;
	font-size: 16px;
	color: white;
	transition: color .3s, background-color .3s;
	background-color: transparent;
}

@media (hover: hover) {

	.user-modal-con .fl-form-btn:hover {
		color: black;
		background-color: var(--yellow);
	}

}

.user-modal-con .fl-form-btn:active {
	color: black;
	background-color: var(--yellow);
}	

.user-modal-con .fl-checkbox-label {
	color: white;
	padding-left: 30px;
	margin-bottom: 0;
}	

.checkbox-name {
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

.user-modal-con .fl-checkmark {
	height: 20px;
	width: 20px;
	background-color: var(--black) !important;
}

.user-modal-con .fl-checkbox-label .fl-checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #0082f1;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}	

.user-modal-con .modal-con-closer-in-child {
	color: white;
	background: none;
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 20px;
	cursor: pointer;
}		

@media (min-width: 992px) {

	.user-modal-con .fl-modal-child {
		width: 27%;
		min-height: initial;
		margin-top: 90px;
	}

	.user-modal-con-head {
		margin-top: 0;
	}	

}

/* the-end-of-user-modal-container */



/* md-menu */

.md-menu {
	position: static;
	width: auto;
}

.md-menu-list {
	background: none;
	font-size: 0;
}

.md-menu-item {
	display: inline-block;
	vertical-align: top;
}

.md-menu-link {
	width: auto;
	color: white;
	padding: 0 1rem;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	position: relative;
	font-weight: bold;
}

.md-menu-link::before {
	content: ' ';
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--yellow);
	transition: top .3s;
}

@media (hover: hover) {

	.md-menu-link:hover::before {
		top: 0;
	}

}

.md-menu-link:active::before,
.md-menu-link.fl-active::before {
	top: 0;
}

/* the-end-of-md-menu */



/* navbar-toggler */

.fl-navbar-toggler {
	margin-right: 1rem;
	background-color: transparent;
	width: 25px;
	height: 30px;
}

.fl-navbar-toggler-line::before,
.fl-navbar-toggler-line,
.fl-navbar-toggler-line::after {
	width: 18px;
	height: 1.5px;

}	

/* the-end-of-navbar-toggler */



/* fl-md-menu */

.fl-md-menu {
	z-index: 19;
}

.md-menu-head {
	padding: 0.5rem 1rem;
	background-color: var(--black);
}

.fl-md-menu-closer {
	position: static;
}

.fl-md-menu-list {
	height: 100vh;
	background-color: rgba(28, 28, 29, 0.7);
	padding-top: 1rem;
	padding-left: 1rem;
}

.fl-md-menu-link {
	color: white !important;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
}

.md-menu-small-link {
	opacity: .6;
	font-size: 14px;
}



/* the-end-of-fl-md-menu */

